.currentWeatherPageForecast {
  background-color: rgba(247, 236, 223, 0.89);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 15px 10px;
  margin-left: 5%;
  margin-top: 50px;
  max-width: 90%;
  height: 100%;
}

.dayWeatherCard {
  background-color: rgba(253, 253, 253, 0.89);
  box-shadow: 15px 10px;
  max-width: 100%;
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3% 4.15%;
  border-radius: 20px;
}

.cardsInfos {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.vl {
  border-left: 6px solid rgb(28, 29, 28);
  margin-left: 20px;
  margin-top: 0px;
  height: 500px;
}

.astroIcons {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.astroIcons .image {
  width: 90px;
}

.weatherInfosIcon {
  width: 40px;
  margin-right: 5px;
}

.weatherInfoData {
  font-size: 20px;
}

.weatherImageForecast {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 10%;
  height: max-content;
  border-radius: 10px;
}
