main {
  
}

.currentWeatherPage {
  background-color: rgba(247, 236, 223, 0.89);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 15px 10px;
  margin-left: 5%;
  margin-top: 50px;
  max-width: 90%;
  height: 100%;
}

.weatherConditionText {
  text-align: center;
  margin-top: 0px;
  margin-left: 50px;
}

.weatherInfos {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weatherImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.generalInfoCondition {
  text-align: center;
  margin: 50px;
}

.weatherInfosIcon {
  width: 90px;
  margin: 20px;
}
